body{
  background-image: url('https://wallpapercave.com/wp/wp3204898.png');
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}